/* text */
body {
	margin: 0;
	padding: 0;
	border-width: 0;
	/* DO NOT CHANGE */
	font-family: "Times New Roman";
	font-size : 1em;
	/* END DO NOT CHANGE */
}

.title {
	margin-bottom: 0.5em;
	font-family: "Times New Roman";
	font-size : 2em;
}

.author {
    margin-bottom: 24px;
    font-family: "Times New Roman", serif;
    font-weight: normal;
    font-style: italic;
    font-size: 1.4em;
    text-indent: 0em;
}

.text,
.review {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: "Times New Roman";
    font-weight: normal;
    font-size: 1em;
}

.textcenter {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-align: center;
    font-family: "Times New Roman";
    font-weight: normal;
    font-size: 1em;
}

.annotation {
    margin-top: 2em;
    padding-top: 0.5em;
    border-top: 1px lightgrey solid;
    
}

.annotation > p {
   font-size: 0.85em;
    
}

.lead {
    margin-bottom: 20px;
	font-weight: bold;
}
        
.isbn {
     margin-top: 36px;
    }

.isbn>p {
    margin-bottom: 0px;
}

.poetry {
	margin-top: 2.4em;	
	margin-bottom: 2.4em;
}

.poetry > p {
	line-height: 1.0em;
}

.motto {
	margin-top: 2.4em;	
	margin-bottom: 2.4em;
	text-align: right;
	font-style: italic;
}

.motto > p {
	line-height: 1.0em;
	text-align: right;
	font-style: italic;
}

.broken {
    font-family : "Broken 15";	
    font-size: 36pt;
    color: #000000;
}

.redakcyjna {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	text-align : center;
}

/* Images */
.fullpage img { 
  width: 100%;
  height: auto;
}

.imagetext img { 
	max-width: 100%;
	max-height: 90%;
}

.imagetext { 
	text-align: center;
}

.author-photo {
    font-family: "Times New Roman", serif;
    font-weight: normal;
    font-style: italic;
    font-size: 1em;
    line-height: 1.4;
    text-decoration: none;
    font-variant: normal;
    text-align: center;
    text-indent: 0px;
    margin-bottom: 1em;
}

